# VIPRAM Mezzanine Card User Constraints File (UCF)
# XC7K160T -1 FB484 C
# JTO 8 May 2013

# #############################################################################
# Timing Constraints

# 200 MHz board clock
NET "clock" TNM_NET = "sys_clk";
TIMESPEC "TS_sys_clk" = PERIOD "sys_clk" 200 MHz HIGH 50%;

# internal chipscope clock is also 200MHz
NET "ila_clk" TNM_NET = "cs_clk";
TIMESPEC "TS_cs_clk" = PERIOD "cs_clk" 200 MHz HIGH 50%;


# #############################################################################
# Location Constraints....

# VIPRAM signals

NET "MC_A" LOC = G10 | IOSTANDARD=LVCMOS15;
NET "MC_B" LOC = G8  | IOSTANDARD=LVCMOS15;

NET "A<15>" LOC = B22 | IOSTANDARD=LVCMOS15;
NET "A<14>" LOC = B20 | IOSTANDARD=LVCMOS15;
NET "A<13>" LOC = B21 | IOSTANDARD=LVCMOS15;
NET "A<12>" LOC = A20 | IOSTANDARD=LVCMOS15;
NET "A<11>" LOC = A21 | IOSTANDARD=LVCMOS15;
NET "A<10>" LOC = A19 | IOSTANDARD=LVCMOS15;
NET "A<9>"  LOC = B18 | IOSTANDARD=LVCMOS15;
NET "A<8>"  LOC = A18 | IOSTANDARD=LVCMOS15;
NET "A<7>"  LOC = B16 | IOSTANDARD=LVCMOS15;
NET "A<6>"  LOC = B15 | IOSTANDARD=LVCMOS15;
NET "A<5>"  LOC = B13 | IOSTANDARD=LVCMOS15;
NET "A<4>"  LOC = A15 | IOSTANDARD=LVCMOS15;
NET "A<3>"  LOC = A16 | IOSTANDARD=LVCMOS15;
NET "A<2>"  LOC = D20 | IOSTANDARD=LVCMOS15;
NET "A<1>"  LOC = A13 | IOSTANDARD=LVCMOS15;
NET "A<0>"  LOC = A14 | IOSTANDARD=LVCMOS15;

NET "B<15>" LOC = D21 | IOSTANDARD=LVCMOS15;
NET "B<14>" LOC = C22 | IOSTANDARD=LVCMOS15;
NET "B<13>" LOC = J17 | IOSTANDARD=LVCMOS15;
NET "B<12>" LOC = F16 | IOSTANDARD=LVCMOS15;
NET "B<11>" LOC = H9  | IOSTANDARD=LVCMOS15;
NET "B<10>" LOC = H14 | IOSTANDARD=LVCMOS15;
NET "B<9>"  LOC = G16 | IOSTANDARD=LVCMOS15;
NET "B<8>"  LOC = J16 | IOSTANDARD=LVCMOS15;
NET "B<7>"  LOC = D22 | IOSTANDARD=LVCMOS15;
NET "B<6>"  LOC = H17 | IOSTANDARD=LVCMOS15;
NET "B<5>"  LOC = H15 | IOSTANDARD=LVCMOS15;
NET "B<4>"  LOC = G17 | IOSTANDARD=LVCMOS15;
NET "B<3>"  LOC = H13 | IOSTANDARD=LVCMOS15;
NET "B<2>"  LOC = F14 | IOSTANDARD=LVCMOS15;
NET "B<1>"  LOC = E17 | IOSTANDARD=LVCMOS15;
NET "B<0>"  LOC = G15 | IOSTANDARD=LVCMOS15;

NET "C<15>" LOC = Y1  | IOSTANDARD=LVCMOS15;
NET "C<14>" LOC = AB1 | IOSTANDARD=LVCMOS15;
NET "C<13>" LOC = AA3 | IOSTANDARD=LVCMOS15;
NET "C<12>" LOC = AB2 | IOSTANDARD=LVCMOS15;
NET "C<11>" LOC = D9  | IOSTANDARD=LVCMOS15;
NET "C<10>" LOC = F8  | IOSTANDARD=LVCMOS15;
NET "C<9>"  LOC = AB3 | IOSTANDARD=LVCMOS15;
NET "C<8>"  LOC = C9  | IOSTANDARD=LVCMOS15;
NET "C<7>"  LOC = P4  | IOSTANDARD=LVCMOS15;
NET "C<6>"  LOC = E8  | IOSTANDARD=LVCMOS15;
NET "C<5>"  LOC = C8  | IOSTANDARD=LVCMOS15;
NET "C<4>"  LOC = F10 | IOSTANDARD=LVCMOS15;
NET "C<3>"  LOC = D10 | IOSTANDARD=LVCMOS15;
NET "C<2>"  LOC = E11 | IOSTANDARD=LVCMOS15;
NET "C<1>"  LOC = F11 | IOSTANDARD=LVCMOS15;
NET "C<0>"  LOC = C10 | IOSTANDARD=LVCMOS15;

NET "D<15>" LOC = AA1 | IOSTANDARD=LVCMOS15;
NET "D<14>" LOC = W2  | IOSTANDARD=LVCMOS15;
NET "D<13>" LOC = Y2  | IOSTANDARD=LVCMOS15;
NET "D<12>" LOC = W1  | IOSTANDARD=LVCMOS15;
NET "D<11>" LOC = U2  | IOSTANDARD=LVCMOS15;
NET "D<10>" LOC = U1  | IOSTANDARD=LVCMOS15;
NET "D<9>"  LOC = T1  | IOSTANDARD=LVCMOS15;
NET "D<8>"  LOC = R1  | IOSTANDARD=LVCMOS15;
NET "D<7>"  LOC = P1  | IOSTANDARD=LVCMOS15;
NET "D<6>"  LOC = M2  | IOSTANDARD=LVCMOS15;
NET "D<5>"  LOC = R2  | IOSTANDARD=LVCMOS15;
NET "D<4>"  LOC = L1  | IOSTANDARD=LVCMOS15;
NET "D<3>"  LOC = P2  | IOSTANDARD=LVCMOS15;
NET "D<2>"  LOC = K1  | IOSTANDARD=LVCMOS15;
NET "D<1>"  LOC = K2  | IOSTANDARD=LVCMOS15;
NET "D<0>"  LOC = M1  | IOSTANDARD=LVCMOS15;

NET "RowAddr<6>" LOC = L3 | IOSTANDARD=LVCMOS15;
NET "RowAddr<5>" LOC = L4 | IOSTANDARD=LVCMOS15;
NET "RowAddr<4>" LOC = N2 | IOSTANDARD=LVCMOS15;
NET "RowAddr<3>" LOC = M3 | IOSTANDARD=LVCMOS15;
NET "RowAddr<2>" LOC = N5 | IOSTANDARD=LVCMOS15;
NET "RowAddr<1>" LOC = N4 | IOSTANDARD=LVCMOS15;
NET "RowAddr<0>" LOC = N3 | IOSTANDARD=LVCMOS15;

NET "ColAddr<4>" LOC = K3 | IOSTANDARD=LVCMOS15;
NET "ColAddr<3>" LOC = H8 | IOSTANDARD=LVCMOS15;
NET "ColAddr<2>" LOC = K4 | IOSTANDARD=LVCMOS15;
NET "ColAddr<1>" LOC = L5 | IOSTANDARD=LVCMOS15;
NET "ColAddr<0>" LOC = M5 | IOSTANDARD=LVCMOS15;

NET "Miss<2>" LOC = H12 | IOSTANDARD=LVCMOS15;
NET "Miss<1>" LOC = E9  | IOSTANDARD=LVCMOS15;
NET "Miss<0>" LOC = F9  | IOSTANDARD=LVCMOS15;

NET "LatchData"  LOC = H10 | IOSTANDARD=LVCMOS15;
NET "EventReArm" LOC = G13 | IOSTANDARD=LVCMOS15;
NET "RunMode"    LOC = E14 | IOSTANDARD=LVCMOS15;
NET "ReqLayerA"  LOC = G12 | IOSTANDARD=LVCMOS15;
NET "Primary"    LOC = G11 | IOSTANDARD=LVCMOS15;

NET "Data<31>" LOC = D19 | IOSTANDARD=LVCMOS15;
NET "Data<30>" LOC = C20 | IOSTANDARD=LVCMOS15;
NET "Data<29>" LOC = E19 | IOSTANDARD=LVCMOS15;
NET "Data<28>" LOC = B12 | IOSTANDARD=LVCMOS15;
NET "Data<27>" LOC = C19 | IOSTANDARD=LVCMOS15;
NET "Data<26>" LOC = A11 | IOSTANDARD=LVCMOS15;
NET "Data<25>" LOC = E18 | IOSTANDARD=LVCMOS15;
NET "Data<24>" LOC = B11 | IOSTANDARD=LVCMOS15;
NET "Data<23>" LOC = A10 | IOSTANDARD=LVCMOS15;
NET "Data<22>" LOC = C18 | IOSTANDARD=LVCMOS15;
NET "Data<21>" LOC = A9  | IOSTANDARD=LVCMOS15;
NET "Data<20>" LOC = B10 | IOSTANDARD=LVCMOS15;
NET "Data<19>" LOC = F18 | IOSTANDARD=LVCMOS15;
NET "Data<18>" LOC = B17 | IOSTANDARD=LVCMOS15;
NET "Data<17>" LOC = A8  | IOSTANDARD=LVCMOS15;
NET "Data<16>" LOC = C17 | IOSTANDARD=LVCMOS15;
NET "Data<15>" LOC = D17 | IOSTANDARD=LVCMOS15;
NET "Data<14>" LOC = D16 | IOSTANDARD=LVCMOS15;
NET "Data<13>" LOC = B8  | IOSTANDARD=LVCMOS15;
NET "Data<12>" LOC = E16 | IOSTANDARD=LVCMOS15;
NET "Data<11>" LOC = C15 | IOSTANDARD=LVCMOS15;
NET "Data<10>" LOC = D15 | IOSTANDARD=LVCMOS15;
NET "Data<9>"  LOC = F15 | IOSTANDARD=LVCMOS15;
NET "Data<8>"  LOC = D14 | IOSTANDARD=LVCMOS15;
NET "Data<7>"  LOC = F13 | IOSTANDARD=LVCMOS15;
NET "Data<6>"  LOC = C13 | IOSTANDARD=LVCMOS15;
NET "Data<5>"  LOC = C14 | IOSTANDARD=LVCMOS15;
NET "Data<4>"  LOC = C12 | IOSTANDARD=LVCMOS15;
NET "Data<3>"  LOC = E12 | IOSTANDARD=LVCMOS15;
NET "Data<2>"  LOC = E13 | IOSTANDARD=LVCMOS15;
NET "Data<1>"  LOC = D12 | IOSTANDARD=LVCMOS15;
NET "Data<0>"  LOC = D11 | IOSTANDARD=LVCMOS15;

### Power Control

NET "VPWR_EN"    LOC = Y4 | IOSTANDARD=LVCMOS15;

NET "SCL<2>" LOC = W4 | IOSTANDARD=LVCMOS15;
NET "SCL<1>" LOC = V4 | IOSTANDARD=LVCMOS15;
NET "SCL<0>" LOC = V3 | IOSTANDARD=LVCMOS15;

NET "SDA<2>" LOC = W5 | IOSTANDARD=LVCMOS15;
NET "SDA<1>" LOC = V2 | IOSTANDARD=LVCMOS15;
NET "SDA<0>" LOC = V5 | IOSTANDARD=LVCMOS15;

# Misc board signals

NET "LED<3>" LOC = N19 | IOSTANDARD=LVCMOS25 | DRIVE = 4;
NET "LED<2>" LOC = N18 | IOSTANDARD=LVCMOS25 | DRIVE = 4;
NET "LED<1>" LOC = M17 | IOSTANDARD=LVCMOS25 | DRIVE = 4;
NET "LED<0>" LOC = M18 | IOSTANDARD=LVCMOS25 | DRIVE = 4;

NET "CLOCK_P" LOC = Y8 | IOSTANDARD=LVDS;
NET "CLOCK_N" LOC = Y7 | IOSTANDARD=LVDS;

NET "TP8" LOC = AA4 | IOSTANDARD=LVCMOS15;